@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

$color-primary-100: #FFFFFF;
$color-primary-600: #5E6E85;
$color-primary-800: #253347;

$color-secondary-300: #D8E2E7;
$color-secondary-500: #345FF6;

$font-family-primary: 'Inter', sans-serif;

$font-size-body-s: 14px; /* 0.875rem */
$font-size-body-m: 16px; /* 1rem */
$font-size-heading-s: 20px; /* 1.25rem */
$font-size-heading-m: 24px; /* 1.5rem */
$font-size-heading-l: 48px; /* 3rem */
$font-size-heading-xl: 64px; /* 4rem */

$tablet : 768;
$desktop : 1024;
